/* Reset some default styles */
body,
figure,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Basic styles for the page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: "Courier New", Courier, monospace, Times, serif;
  font-size: 54px;
}

main {
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

article {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  line-height: 150%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
