.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  width: 50%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
}
